<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prow >> {{title}}</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/ico">
    <meta name="viewport" content="initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/all.css">
    <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Slab' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="page" class="row">
      {{> header}}
      {{> body}}
    </div>
  </body>
</html>


