<div class='inner'>
  <h1>Hello from Prow</h1>

  <p>
    Whether you are building a one-page app or a static website,
    Prow is your go-to tool for local development.
  </p>

  <h4>Getting Started</h4>
  <p>
    Congratulations! You have already successfully created a Prow app, and run it!
    Now it's time to start adding your own content.
  </p>
  <ul class='list-style'>
    <li>Replace this page with one of your own</li>
    <li>Add new pages</li>
    <li>Change the CSS by modifying files in the sass directory</li>
  </ul>
</div>

